streamlit
requests
loguru
sqlmodel

sqlalchemy
asyncpg
psycopg
psycopg-binary
alembic
pydantic
pydantic-settings
starlette
fastapi
uvicorn
pika
passlib
python-jose
Jinja2
python-multipart
pytest
httpx
fastapi-analytics
chromadb==1.0.10